body{
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
    font-size: 18px;
    font-family: "Space Grotesk";
}

.main-container{
    display: flex;
    /* border: 1px solid red; */
}

.img1{
    max-width: 100%;
    height: auto;
}

.form{
    padding-left: 300px;
    padding-top: 150px;
}

input{
    width: 300px;
    height: 40px;
    margin: 12px;
    border: 1px solid #5e5e5e;
    border-radius: 7px;
    padding-left: 10px;
}

input:focus{
    outline: none;
}

label{
    font-size: 12px;
    padding-left: 10px;
}

#expdate{
    width: 60px;
}

.btn{
    background:  hsl(278, 68%, 11%);
    color: #ffffff;
    cursor: pointer;
    font-family: "Space Grotesk";
    
}

#cvc{
    width: 132px;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
}


.img2 {
    position: absolute;
    top: 125;
    left: 300px;
    height: 180px;
    /* border: 1px green solid; */
}

.img3{
    height: 180px;
    position: absolute;
    top: 330;
    left: 300px;
    padding-left: 50px;
}

.empty-div{
    position: absolute;
    text-align: center;
    width: 40px;
    height: 40px;
    top : 145px;
    margin-left: 320px;
    border-radius: 50%;
    background: #ffffff;
}

.empty-div2{
    position: absolute;
    text-align: center;
    width: 17px;
    height: 17px;
    top : 158px;
    margin-left: 371px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.number-div{
    position: absolute;
    text-align: center;
    top: 160px;
    margin-left: 350px;
    margin-top: 70px;
    color: #ffffff;
    font-size: 23px;
}

.name-div{
    position: absolute;
    text-align: center;
    top: 160px;
    margin-left: 320px;
    margin-top: 113px;
    color: #ffffff;
    font-size: 14px;
}

.number-div2{
    position: absolute;
    text-align: center;
    top: 160px;
    margin-left: 559px;
    margin-top: 115px;
    color: #ffffff;
    font-size: 14px;
}

.number{
    position: absolute;
    text-align: center;
    top: 340px;
    margin-left: 620px;
    margin-top: 70px;
    color: #ffffff;
    font-size: 14px;
}


@media  screen and (max-width: 768px) {
    .main-container{
        flex-direction: column;
    }

    .img1{
        height: 375px;
    }
}

